<% if Config.base_branch_score > Config.feature_branch_score %>
  > :negative_squared_cross_mark: **<%= Config.difference_score %> % Decreased** :thumbsdown:
  <br/>
<% else %> 
  > :white_check_mark: **<%= Config.difference_score %> % Increased** :thumbsup: 
  <br/>
<% end %>
_<%= Config.base_branch %> score: <%= Config.base_branch_score.round(2)%>_ %
<br />
_<%=Config.feature_branch%> score: <%= Config.feature_branch_score.round(2) %> %_
<br />
<a href="<%= @code_index_file_location %>" class="js-smell-location">Report</a>